input[type='button']{
    width: 100%;
    background-color: gray;
}

input[type='button']:hover{
    background-color: rgb(146, 146, 146);
    
}

input[type='text']{
    text-align: right;
    background-color: black;
    color: white;
}

input[type='text']:hover{
    background-color:rgb(37, 37, 37);
}

table{
    background-color: black;
}